/*Set up*/

:root{
  --font-family-1: Overpass;
  --font-family-1-weight-1: 300;
  --font-family-1-weight-2: 600;
  --font-family-2: Ubuntu;
  --font-family-2-weight-1: 400;
  --font-family-2-weight-2: 500;
  --font-family-2-weight-3: 700;
  --Red-500: hsl(356, 100%, 66%);
  --Red-400: hsl(355, 100%, 74%);
  --Blue-900: hsl(208, 49%, 24%);
  --White: hsl(0, 100%, 100%);
  --Gray-600: hsl(207, 13%, 34%);
  --Gray-900: hsl(240, 10%, 16%);
  --Orange-300: hsl(13, 100%, 72%);
  --Red-550: hsl(353, 100%, 62%);
  --Purple-950: hsl(237, 17%, 21%);
  --Purple-900: hsl(237, 23%, 31%);
  --bg-circles: url("./images/bg-pattern-circles.svg");
  --bg-desktop: url("./images/bg-pattern-intro-desktop.svg");
  --bg-mobile: url("./images/bg-pattern-intro-mobile.svg");
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html{
  font-size: 16px;
}

/*Mobile and tablet design start*/

body{
  font-family: var(--font-family-1);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--White);
}

/*Header start*/

header{
  width: 100%;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--Red-500);
  background-image: var(--bg-mobile);
  background-size: 250%;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 5rem;
  border-radius: 0 0 0 7rem;
}

.header-content{
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 5.3rem;
}

.close-button,
.menu-button{
  background: transparent
}

.close-button{
  display: flex;
  width: fit-content
}

.close-button img{
  width: 1.6rem;
  height: 1.6rem;
}

.menu-button{
  display: none;
}

/*Menu start*/

.menu{
  display: none;
  flex-direction: column;
  position: absolute;
  width: 90%;
  background-color: var(--White);
  left: 50%;
  transform: translateX(-50%);
  top: 7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navigation-links{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dropdown-container-header{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  justify-content: center;
}

.dropdown-container-header a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: var(--font-family-1-weight-2);
  color: var(--Blue-900);
  cursor: pointer;
}

.dropdown-container-header button{
  background-color: transparent;
  cursor: pointer;
}

.active-button{
  transform: rotate(180deg)
}

.dropdown-button-desktop{
  display: none;
}

.dropdown{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
  background-color: rgb(206, 205, 205);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  display: none;
}

.dropdown a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--font-family-1-weight-1);
  color: var(--Blue-900)
}

hr{
  border-top: 0.15rem var(--Gray-600) solid;
  margin-top: 1.5rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.auth-buttons{
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.login{
  color: var(--Purple-950);
  font-size: 1.2rem;
  font-family: var(--font-family-1);
  font-weight: var(--font-family-1-weight-2);
  background-color: transparent;
}

.sign-up{
  color: var(--White);
  font-family: var(--font-family-2);
  font-weight: var(--font-family-2-weight-3);
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  width: fit-content;
  background: linear-gradient(to right, var(--Orange-300) 13%, var(--Red-550) 87%);
}

/*manu end*/

.hero-header{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 7rem;
}

.hero-header h1{
  color: var(--White);
  font-size: 2rem;
  font-weight: var(--font-family-1-weight-2);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-header p{
  color: var(--White);
  font-size: 1rem;
  font-weight: var(--font-family-1-weight-1);
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.hero-cta-buttons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 3rem;
}

.hero-cta-buttons button{
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: var(--font-family-2);
  font-weight: var(--font-family-2-weight-3)
}

.start-button{
  color: var(--Red-500);
  background-color: var(--White)
}

.learn-more-button{
  color: var(--White);
  background-color: transparent;
  border: 2px solid var(--White);
}

/*Header end*/

/*Main section start*/

/*First section start*/

.first-section{
  padding-top: 7rem;
  display: flex;
  flex-direction: column;
}

.first-section h2{
  text-align: center;
  font-weight: var(--font-family-1-weight-2);
  font-size: 1.5rem;
  color: var(--Blue-900);
  margin-bottom: 3rem;
}

.first-section article{
  display: flex;
  flex-direction: column;
}

.first-section article .image-container{
  width: 100%;
}

.first-section-img-mobile{
  width: 100%;
}

.first-section-img-desktop{
  display: none;
}

.first-section article .text-container{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 3rem;
}

.first-section article .text-container div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.first-section article .text-container div h3{
  color: var(--Blue-900);
  font-size: 1.5rem;
  font-weight: var(--font-family-1-weight-2);
  width: 50%;
  text-align: center;
}

.first-section article .text-container div p{
  font-size: 1.05rem;
  text-align: center;
  color: var(--Gray-600);
  width: 83%;
}

/*First section end*/

/*Second section start*/

.second-section{
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 5rem;
}

.second-section::before{
  content: "";
  background-color: var(--Purple-950);
  position: absolute;
  height: 69%;
  width: 100%;
  z-index: -5;
  bottom: 0;
  border-radius: 0 5rem 0 5rem;
  background-image: var(--bg-circles);
  background-repeat: no-repeat;
  background-size: 170%;
  background-position: center -19rem;
}

.second-section .image-container{
  margin-top: 3rem;
  width: 100%;
}

.second-section .image-container img{
  width: 100%;
}

.second-section .text-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.second-section .text-container h2{
  font-weight: var(--font-family-1-weight-2);
  font-size: 2rem;
  color: var(--White);
}

.second-section .text-container p{
  font-size: 1.05rem;
  color: var(--White);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/*Second section end*/

/*Third section start*/

.third-section{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1.5rem;
}

.third-section .image-container{
  width: 100%;
  overflow: hidden;
}

.third-section-img-desktop{
  display: none;
}

.third-section-img-mobile{
  width: 130%;
  margin-left: -15%;
  margin-right: -15%;

}

.third-section .text-container,
.third-section .text-container div{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.third-section .text-container div h3{
  font-size: 1.7rem;
  color: var(--Blue-900);
  letter-spacing: 0.1rem;
}

.third-section .text-container div p{
  color: var(--Gray-600);
  font-size: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/*Third section end*/

/*Main section end*/

/*Footer section start*/

footer{
  background-color: var(--Gray-900);
  background-color: var(--Purple-950);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  border-radius: 0 7rem 0 0;
}

.footer-logo{
  width: 30%;
  margin-bottom: 4rem;
}

footer article{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

footer article div{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer article div strong{
  color: var(--White);
  font-size: 1.3rem;
  font-weight: var(--font-family-1-weight-2);
  margin-bottom: 1.3rem;
  text-align: center;
}

footer article div div a{
  text-decoration: none;
  color: var(--Gray-600);
  font-size: 1rem;
  text-align: center;
}

footer div{
  color: white;
  margin-top: 3rem;
}

/*Footer section end*/

/*Mobile and Tablet design end*/

/*Desktop design start*/

@media screen and (min-width: 1024px){
  
  /*Header section start*/

  header{
    align-items: center;
  }

  .header-wrapper{
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 5rem;
  }

  .logo{
    width: 7rem;
  }

  .header-content button{
    display: none;
  }

  /*Menu start*/

  .menu{
    display: flex;
    position: static;
    background-color: transparent;
    flex-direction: row;
    padding: 0;
    transform: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    display: 100%;
  }

  .navigation-links{
    flex-direction: row;
    gap: 2.5rem;
  }

  .dropdown-container-header{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
  }

  .dropdown-container-header a{
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: var(--font-family-1-weight-2);
    color: var(--White);
    cursor: pointer;
  }

  .dropdown-container-header a:hover{
    text-decoration: underline
  }

  .dropdown-button-mobile{
    display: none;
  }

  .dropdown-button-desktop{
    display: block;
  }

  .dropdown-container{
    position: relative;
  }

  .dropdown{
    background-color: var(--White);
    width: fit-content;
    padding: 0;
    padding: 1.5rem;
    text-align: left;
    padding-right: 3rem;
    gap: 0.5rem;
    position: absolute;
  }

  .dropdown a{
    transition: 0.3s font-weight ease-in-out;
  }

  .dropdown a:hover{
    font-weight: var(--font-family-1-weight-2);
    cursor: pointer;
  }

  hr{
    display: none;
  }

  .auth-buttons{
    flex-direction: row;
    gap: 2rem;
    padding: 0;
    margin: 0;
    width: fit-content;
  }

  .login{
    color: var(--White)
  }

  .sign-up{
    background: var(--White);
    color: var(--Red-500);
    transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
  }

  .sign-up:hover{
    background-color: var(--Red-400);
    color: var(--White);
    cursor: pointer;
  }

  /*Menu end*/

}